<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="clientId" value="ASgR34Pm1N4ifEQLSkP_CCFGaEHfdN_76gpASMKwFi1dPgXBfeS6FkVTVzpsU6dcGQlwO0qoG_g-tZJG" />
      <add name="clientSecret" value="ECylAtCMUqw0eiXnP6zSJXWwXKi4UqzPuNIrc4dXlPS0Ih8-bTzoJLxaY5RpdZjgd5D-hqtjnwtyU-2N" />
    </settings>
  </paypal>
</configuration>