$primary-color: #1890ff;
$success-color: #6ab04c;
$warning-color: #f0932b;
$danger-color: #eb4d4b;
$refuse-color: #f26091;

$light-color: #666;
$light-second-color: #727475;
$light-background: #fff;
$light-second-background: #f1f1f1;

$dark-color: #909090;
$dark-second-color: #f5f6fa;
$dark-background: #23242d;
$dark-second-background: #181818;

$main-bg-color: $light-background;
$second-bg-color: $light-second-background;
$main-color: $light-color;
$second-color: $light-second-color;

$auth-bg: #f2f2f2;
